mymodel/dataprocess/__pycache__/__init__.cpython-312.pyc
mymodel/dataprocess/__pycache__/DistillR1DataSet.cpython-312.pyc
mymodel/dataprocess/__pycache__/PretrainDataSet.cpython-312.pyc
mymodel/dataprocess/__pycache__/SFTDataSet.cpython-312.pyc
mymodel/__pycache__/Model.cpython-312.pyc
pretrain_hq.jsonl
distill_r1_110k.jsonl
position_embedding.pkl
r1_mix_1024.jsonl
sft_mini_512.jsonl
mymodel/Test.py
mymodel/TestModel.py
mymodel/model_back.pth
mymodel/model.pth
mymodel/sft_model.pth
mymodel/sft_r1_model.pth
mymodel/model_16.pth
mymodel/model_10000.pth
sft_2048.jsonl
mymodel/dataprocess/__pycache__/Pretrain2048DataSet.cpython-312.pyc
mymodel/__pycache__/BirdMindModel.cpython-312.pyc
mymodel/transformers_model/model.safetensors
mymodel/models/__pycache__/BirdMindModel.cpython-312.pyc
mymodel/output/model_grpo/runs/Apr12_22-12-04_山川/events.out.tfevents.1744467124.山川.32788.0
mymodel/output/model_grpo/runs/Apr12_22-36-49_山川/events.out.tfevents.1744468610.山川.41764.0
mymodel/output/model_grpo/runs/Apr12_22-38-05_山川/events.out.tfevents.1744468685.山川.25276.0
mymodel/output/model_grpo/runs/Apr12_22-43-57_山川/events.out.tfevents.1744469038.山川.43888.0
mymodel/output/model_grpo/runs/Apr12_22-48-24_山川/events.out.tfevents.1744469304.山川.44348.0
mymodel/output/model_grpo/runs/Apr12_22-54-34_山川/events.out.tfevents.1744469675.山川.31464.0
mymodel/dataprocess/__pycache__/GrpoDataSet.cpython-312.pyc
mymodel/sft_model_10000.pth
mymodel/output/model_grpo/runs/Apr13_00-57-05_山川/events.out.tfevents.1744477025.山川.37176.0
mymodel/output/model_grpo/runs/Apr13_09-23-42_山川/events.out.tfevents.1744507423.山川.29360.0
mymodel/output/model_grpo/runs/Apr13_09-32-21_山川/events.out.tfevents.1744507941.山川.30948.0
mymodel/output/model_grpo/runs/Apr13_09-40-27_山川/events.out.tfevents.1744508427.山川.28596.0
mymodel/output/model_grpo/runs/Apr13_09-46-53_山川/events.out.tfevents.1744508813.山川.33812.0
mymodel/output/*
mymodel/sft_r1_model_10000.pth
mymodel/dataprocess/__pycache__/DistillR1NoThinkDataSet.cpython-312.pyc
mymodel/model_10000_nomoe.pth
dataprocess/__pycache__/__init__.cpython-312.pyc
dataprocess/__pycache__/DistillR1DataSet.cpython-312.pyc
dataprocess/__pycache__/DistillR1NoThinkDataSet.cpython-312.pyc
dataprocess/__pycache__/GrpoDataSet.cpython-312.pyc
dataprocess/__pycache__/Pretrain2048DataSet.cpython-312.pyc
dataprocess/__pycache__/PretrainDataSet.cpython-312.pyc
dataprocess/__pycache__/PretraindeepctrlDataSet.cpython-312.pyc
dataprocess/__pycache__/SFTDataSet.cpython-312.pyc
models/__pycache__/BirdMindModel.cpython-312.pyc
