mymodel/dataprocess/__pycache__/__init__.cpython-312.pyc
mymodel/dataprocess/__pycache__/DistillR1DataSet.cpython-312.pyc
mymodel/dataprocess/__pycache__/PretrainDataSet.cpython-312.pyc
mymodel/dataprocess/__pycache__/SFTDataSet.cpython-312.pyc
mymodel/__pycache__/Model.cpython-312.pyc
pretrain_hq.jsonl
distill_r1_110k.jsonl
position_embedding.pkl
r1_mix_1024.jsonl
sft_mini_512.jsonl
mymodel/Test.py
mymodel/TestModel.py
mymodel/model_back.pth
mymodel/model.pth
mymodel/sft_model.pth
mymodel/sft_r1_model.pth
mymodel/model_16.pth
mymodel/model_10000.pth
sft_2048.jsonl
mymodel/dataprocess/__pycache__/Pretrain2048DataSet.cpython-312.pyc
mymodel/__pycache__/BirdMindModel.cpython-312.pyc
